* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 5vw;
  overflow-x: hidden;
  background-color: white;
}

.cursor {
  height: 2vw;
  width: 2vw;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  font-size: xx-small;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  z-index: 20;
  mix-blend-mode: difference;
}

section {
  height: 50vw;
  width: 100%;
  position: relative;
  padding: 1.5vw 3vw;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  align-items: center;
  background-color: rgba(230, 255, 213, 0.286);
  justify-content: space-between;
  padding: 1vw 3vw;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(33, 33, 33, 0.08);
}

.part1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.part1 i {
  font-size: 2.7vw;
}

.part1 h1 {
  font-size: 2.3vw;
  font-weight: 500;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5vw;
}

nav h4 {
  font-size: 1.5vw;
  font-weight: normal;
}

nav button {
  padding: 0.5vw;
  font-size: 1.3vw;
  background-color: transparent;
  border-radius: 0.8vw;
  border: 0.1vw solid black
}

.center {
  height: 35vw;
  width: 100%;
  display: flex;
}

.left {
  height: 100%;
  width: 50%;
}

.left h1 {
  font-size: 5.7vw;
  line-height: 5.7vw;
  margin-bottom: 2vw;
  font-weight: normal;
}

.left p {
  font-size: 2vw;
  font-weight: lighter;
  margin-bottom: 2.5vw;
}

.left button {
  background-color: black;
  color: aliceblue;
  font-size: 1.2vw;
  padding: 1vw;
  border-radius: 1vw;
}

.right {
  height: 100%;
  width: 50%;
  position: relative
}

.right img {
  height: 90%;
  position: absolute;
  right: 0.5vw;
}

.bottom{
  overflow: hidden;
}

.track {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 8vw;
  padding: 2vw;
}

.bottom img {
  width: 8vw;
  filter: brightness(0) grayscale(100%);
}

.services {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2vw;
  gap: 5vw;
}

.services h3 {
  background-color: #a2f67b;
  font-weight: 500;
  font-size: 2.7vw;
  padding: 0.5vw;
  border-radius: 0.5vw;
}

.services p {
  width: 45vw;
  font-size: 1.6vw;
  font-weight: normal;
}

.container {
  height: 90%;
  width: 100%;
  padding: 2vw 10vw;
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
  flex-wrap: wrap;
}

.element {
  flex-shrink: 0;
  height: 18vw;
  width: 47%;
  border: 0.2vw solid black;
  border-radius: 2vw;
  box-shadow: 0 0.5vw 0 black;
  padding: 1.2vw;
  display: flex;
  justify-content: space-between;
}

.elem1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.elem1 h2 {
  font-size: 2.5vw;
  line-height: 1.15;
}

.elem1 h2 span{
  background-color: #a2f67b;
  border-radius: 0.5vw;
  padding: 0 0.3vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.elem1 h4 {
  display: flex;
  align-items: center;
  font-size: 1.75vw;
  gap: 0.85vw;
  padding: 0.2vw 0.5vw;
}

.elem1 h4 i {
  padding: 0.25vw;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.elem2 {
  height: 100%;
  width: 50%;
}

.elem2 img {
  height: 90%;
}

.black {
  background-color: black;
}

.black h2 span{
  background-color: white;
}

.black h4{
  color: white;
}

.black h4 i {
  background-color: white;
  color: black;
}